@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

/* util classes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Balsamiq Sans', cursive;
}

.container {
    margin: 0 auto;
    width: 800px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.align-start {
    align-items: flex-start;
}

nav {
    padding: .5rem 1rem;
    background-color: black;
    color: white;
    font-size: 2rem;
}

h1 {
    padding: 1rem 0;
    text-align: center;
}

main {
    width: 60%;
}

.card {
    margin-bottom: 2rem;
    padding: 2rem;
    border: 3px solid black;
}

.poster-name {
    flex: 2;
}

.profile-card {
    text-align: center;
}

.profile-card i {
    font-size: 8rem;
    margin-bottom: 2rem;
}

.profile-card a {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.user-likes-line {
    margin-bottom: 2rem;
}

.btn {
    padding: .5rem 1rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    background-color: #ffd966;
}

.content-line {
    font-size: 1.3rem;
}